version: '2.1'

services:
  influxdb:
    image: influxdb:alpine
    ports:
      - "8086:8086"
      - "8083:8083"
      - "2003:2003"
    environment:
      - INFLUXDB_REPORTING_DISABLED=true
      - INFLUXDB_DATA_QUERY_LOG_ENABLED=false
      - INFLUXDB_GRAPHITE_ENABLED=true

  chronograph:
    image: quay.io/influxdb/chronograf:latest
    ports:
      - 8087:8888

  telegraf:
    image: telegraf:alpine
    depends_on:
       - influxdb
    ports:
      - "8125:8125"
      - "8094:8094"
      - "8092:8092/udp"
    links:
      - influxdb
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_USER=telegraf
      - INFLUXDB_PASS=metrics
      - TAG_monitor=workbook
    volumes:
      - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # - /var/run/utmpx:/var/run/utmp:ro

  grafana:
    image: appcelerator/grafana
    depends_on:
      - telegraf
    ports:
      - "8000:3000"
    environment:
      - VIRTUAL_HOST=grafana.local

  # nginx-proxy:
  #   image: jwilder/nginx-proxy
  #   ports:
  #     - "8080:80"
  #   depends_on:
  #     - grafana
  #   links:
  #     - grafana
  #   volumes:
  #     - /var/run/docker.sock:/tmp/docker.sock:ro
